* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
}

:root {
  --primary-color: #003699;
}

/* Utility Classes */
a {
  text-decoration: none;
}

/* Navbar */
.background-primary {
  background: #003699;
  color: #fff;
}

@media screen and (max-width: 576px) {
  .btn-block-sm-only {
    display: block;
    width: 100%;
  }
}

.bobby {
  padding: 2rem 2rem;
}
/* Home */

#showcase-container {
  height: 400px;
}

.showcase-content {
  max-width: 1280px;
  padding: 20px;
  margin: 0 auto;
}

.showcase-text h1 {
  font-family: 'Abel', sans-serif;
  font-size: 48px;
  color: #fff;
  z-index: 1;
  position: absolute;
  bottom: 40px;
  min-height: 100px;
}

.showcase-error-msg {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.home-img {
  border-radius: 10px;
  width: 31rem;
}

/* Main Page */

/* Main Movies List */

#mainmovies-list {
  min-height: 200px;
  /* max-width: 750px; */
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  padding: 1rem;
}

#mainmovies-list:hover {
  background: rgb(0, 0, 0, 0.01);
}

.mainmovies-text {
  font-family: 'Abel', sans-serif;
  padding: 10px;
  color: black;
  margin-left: 1.5rem;
  word-wrap: break-word;
  overflow: hidden;
}

/* competing with movie thumb style */
.mymovies-thumb img {
  border-radius: 5px;
  width: 125px !important;
}

.movie-box {
  display: flex;
  padding: 1rem 0;
}

.scroll-nav {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  z-index: 1;
  top: 0;
  background: #003699;
  color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scroll-heading {
  display: flex;
  align-items: center;
}

.user-nav {
  display: flex;
  flex: 1;
  margin-top: 10px;
}

.scroll-nav p {
  font-size: 40px;
  margin: 0 10px;
}

.scroll-container {
  display: grid;
  grid-template-columns: 1fr minmax(0, 3fr) 1fr;
}

.bottom-nav {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  position: fixed;
  bottom: 0;
  background: white;
  color: black;
  padding: 1rem;
  font-size: 1.5rem;
  display: none;
}

.main {
  grid-column-start: 2;
}

/*Sidenav */

#sidenav-container {
  margin-top: 60px;
  background: #fff;
  width: 20%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidenav-container .sn-item {
  color: black;
  display: block;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  outline: none !important;
}

#sidenav-container .sn-item:hover {
  color: var(--primary-color);
}

a.btn:focus,
a.btn:active {
  outline: none !important;
  box-shadow: none;
}

button.btn:focus,
button.btn:active {
  outline: none !important;
  box-shadow: none;
}

.fa-home,
.fa-envelope,
.fa-search,
.fa-sign-out {
  margin: 0 0.5rem;
}

.movie:hover {
  background-color: lightgray;
}

.movie-poster-list-img {
  width: 50px;
}

/* Searchbar */

#search-bar {
  display: flex;
  justify-content: center;
}

#search-bar .search-bar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  width: 90%;
  background: #353535;
  margin: 0 auto;
  border-radius: 40px;
  position: relative;
  color: #fff;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#search-bar .search-input {
  display: inline-block;
  padding: 0.2rem 0.75rem;
  width: 98%;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 40px;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
  margin: 8px 0;
  border: 0;
  text-indent: 3rem;
}

#search-bar .search-input:focus {
  outline: none;
}

#search-bar .fa-search {
  color: #000;
  z-index: 1000;
  position: absolute;
  left: 1rem;
}

/* Spinner */
.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #16d47b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: 0.8s infinite linear spin;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.grid {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.grid-header {
  font-family: 'Abel', sans-serif;
  font-size: 42px;
}

@media screen and (max-width: 768px) {
  .grid-header {
    font-size: 32px;
    text-align: center;
  }
}

.grid-children {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-gap: 40px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .grid-children {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .grid-children {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .grid-children {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 375px) {
  .grid-children {
    grid-template-columns: repeat(1, 1fr);
  }
}

.movie-thumb img {
  width: 100%;
  transition: all 0.3s;
  object-fit: cover;
  border-radius: 20px;
  animation: animateMovieThumb 0.5s;
}

.movie-thumb img:hover {
  opacity: 0.9;
}

.movie-thumb img .clickable {
  cursor: pointer;
}

@keyframes animateMovieThumb {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Load More Button */
.load-more-btn {
  background: var(--primary-color);
  width: 25%;
  min-width: 200px;
  height: 70px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 40px;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
  max-width: 1280px;
  display: block;
  margin: 20px auto;
  padding: 0 20px;
  outline: none;
}

/* Navigation */

#navigation {
  background: var(--primary-color);
  color: #fff;
}
#navigation .navigation-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1140px;
  width: 100%;
  margin: auto;
  height: 4rem;
  padding: 1rem;
}

#navigation .navigation-content {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

#navigation .navigation-content p {
  font-family: 'Abel', sans-serif;
  font-size: 22px;
  color: #fff;
  padding-right: 10px;
  text-decoration: none;
  margin-bottom: 0px;
  border: 0;
}

#navigation .navigation-content a {
  text-decoration: none;
}

/* MovieInfo */

@media screen and (max-width: 768px) {
  .movieinfo-container {
    min-height: 600px;
    height: auto;
  }
}

@keyframes animateMovieinfo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.movieinfo-content {
  max-width: 1280px;
  min-height: 450px;
  margin: 0 auto;
  background: rgb(0, 0, 0, 0.7);
  border-radius: 20px;
  position: relative;
}

.movieinfo-thumb {
  width: 300px;
  float: left;
}

@media screen and (max-width: 768px) {
  .movieinfo-thumb {
    width: 100%;
  }
}

.movieinfo-text {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 40px;
  color: #fff;
  overflow: hidden;
}

.movieinfo-text h1 {
  font-family: 'Abel', sans-serif;
  font-size: 44px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .movieinfo-text h1 {
    font-size: 32px;
  }

  .movieinfo-text {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.movieinfo-text h3 {
  font-size: 16px;
  line-height: 0;
  margin-top: 30px;
}

.movieinfo-text p {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.rating-director {
  display: flex;
  justify-content: flex-start;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background: #fff;
  color: #000;
  font-weight: 800;
  border-radius: 25px;
  margin-top: 10px;
}

.director {
  margin: 0 0 0 40px;
}

.director p {
  margin: 0;
}

.movieinfo-review-btn {
  margin-top: 20px;
  margin-right: 0.5rem;
}

.movieinfo-review-btns {
  display: flex;
}

/* Movie Info Bar */

.movieinfobar-container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100px;
  height: auto;
  background: #1c1c1c;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

.movieinfobar-content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}

.movieinfobar-content-col {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  padding: 10px 20px 0 0;
}

.movieinfobar-info {
  padding: 5px 0 0 10px;
  float: left;
}

.fa-time,
.fa-revenue {
  float: left;
  margin-top: -4px;
}

.fa-budget {
  float: left;
  margin-top: -3px;
}

/* Actors Grid */

.actor-container {
  font-family: 'Abel', sans-serif;
  color: #fff;
  background: #1c1c1c;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}
.actor-image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.actor-name {
  display: block;
  font-size: 18px;
  margin: 10px 0 0 0;
}

.actor-character {
  display: block;
  font-size: 16px;
  margin: 0 0 10px 0;
}

.poster {
  border-radius: 5%;
  width: 300px;
}

/* 5 star rating */

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  color: gold;
}

.checked {
  color: gold;
}

#mainmovies-list .user-link {
  color: black;
}

/* User Search */

#user-search {
  width: 20%;
  position: fixed;
  top: 0;
  right: 0;
}

.user-search-content {
  display: flex;
  align-items: center;
  position: relative;
}

.user-search-input {
  text-indent: 1.5rem;
}

.fa-search-user {
  position: absolute;
}

.user-favorites {
  width: 20%;
  position: fixed;
  top: 200px;
  right: 0;
  z-index: -2;
}

.user-watchlist {
  width: 20%;
  position: fixed;
  top: 500px;
  right: 0;
}

#user-search-link {
  color: black;
}

#user-search-box {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  padding-left: 10px;
  font-weight: bold;
  z-index: 2;
  position: relative;
  background: #fff;
}

.friend-btn:before {
  content: 'Friend';
}

.friend-btn:hover {
  background: #dc3545 !important;
  border-color: #dc3545 !important;
}
.friend-btn:hover:before {
  content: 'Remove Friend?';
}

.friend-btn-hide:hover:before {
  content: '';
}

@media screen and (max-width: 576px) {
  #sidenav-container {
    display: none;
  }
  #sidenav-container .sn-item {
    display: none;
  }
  #user-search {
    display: none;
  }
  .scroll-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
  }

  .bottom-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .main {
    grid-column-start: 1;
  }

  .scroll-container {
    margin-bottom: 6rem;
  }
}

/* Favorites */

.favorite-container,
.watchlist-container {
  display: flex;
}

#fav-img {
  width: 40px;
}

.hover:hover {
  color: gold;
}

.message-container {
  height: 550px;
  border: 0.5px solid gray;
  border-radius: 10px;
  margin: 3rem auto;
  width: 700px;

  display: flex;
  flex-direction: column;
  position: relative;
}

.message-container-heading {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom: 0.5px solid gray;
  z-index: 2;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#message-body {
  padding: 1.5rem;
  overflow: auto;
  margin-bottom: 3rem;
}

.message-text {
  margin-top: 1.5rem;

  border-radius: 20px;
  padding: 0.5rem 0.75rem;
  max-width: 30%;
}

.messages {
  display: flex;
  flex-direction: column;
}
.message-text {
  margin: 0.25rem 1rem;
  word-wrap: break-word;
}

@media screen and (max-width: 576px) {
  .message-container {
    width: 100%;
    height: 550px;
    margin: 1rem auto;
  }

  .message-text {
    max-width: 70%;
    margin: 0.25rem 0;
  }

  #message-body {
    padding: 1rem 10px;
  }

  .message-movietitle {
    font-size: 1.5rem;
  }

  .movie-table-message {
    display: none;
  }
}

.sender {
  background-color: #dee2e6;
  align-self: flex-start;
  color: black;
}

.sender-name {
  align-self: flex-start;
}

.recipient {
  align-self: flex-end;
  background-color: #28a745;
  background-color: #003699;
  color: #fff;
}

.recipient-name {
  align-self: center;
  margin-left: 300px;
  margin-top: 0.25rem;
}

.message-form {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  background: #f4f4f4;
  padding: 0.5rem 0.75rem;
  width: 100%;
  border-radius: 0 0 10px 10px;
  border-top: 0.5px solid gray;
}

.message-img {
  width: 50px;
}

.close-btn {
  align-self: flex-start;
}

.message-heading-left {
  display: flex;
  align-items: center;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  color: #fff;
}

.comment {
  min-height: 75px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  padding: 1rem;
}

.review-link {
  color: #000;
  padding: 5px;
}

.review-link:hover {
  color: black;
  text-decoration: none;
}

.fa-comment-alt {
  color: black;
  text-decoration: none;
  padding: 7px;
}

.fa-comment-alt:hover {
  color: black;
  text-decoration: none;
  background: rgba(0, 54, 153, 0.2);
  padding: 7px;
  border-radius: 50%;
}

.comment-form {
  display: flex;
  background: #f4f4f4;
  padding: 0.5rem 0.75rem;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}

.user-name {
  color: #000;
  font-size: 1rem;
}
.comment-user-link:hover {
  color: #000;
}
