.app-grid-container {
  display: grid;
  grid-template-columns: 2fr minmax(0, 5.5fr) 2.5fr;
}

.app-grid-container-chat {
  display: grid;
  grid-template-columns: 2fr minmax(0, 5.5fr) 2.5fr;
}

.app-grid-search-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

@media screen and (max-width: 900px) {
  .app-grid-container {
    display: grid;
    grid-template-columns: 5fr minmax(0, 16.5fr) 8.5fr;
  }
  .app-grid-container-chat {
    display: grid;
    grid-template-columns: 5fr minmax(0, 16.5fr) 8.5fr;
  }

  .app-grid-search-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
}

@media screen and (max-width: 750px) { 
  .app-grid-container,
  .app-grid-search-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    margin-bottom: 62px;
  }

  .app-grid-container-chat {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    margin-bottom: 0px;
  }
}

