.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  z-index: 2;
}

.chat-header-left {
  display: flex;
  align-items: center;
}

.chat-header-movie-poster {
  width: 50px;
  border-radius: 5px;
  position: relative;
  z-index: 0;
}

.chat-header-movietitle {
  font-size: 1.5rem;
}

.chat-header-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
