.chat-body {
  padding: 1rem;
  overflow: auto;
  margin-bottom: 3rem;
}

.chat-body-messages {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 576px) {
  .chat-body {
    padding: 1rem 10px;
  }
}
