.msg-container {
  margin: 0.25rem 0rem;
  max-width: 60%;
  display: flex;
}

.msg-container.sender {
  align-self: flex-start;
}

.msg-container.recipient {
  align-self: flex-end;
}

@media screen and (max-width: 576px) {
  .msg-container {
    max-width: 70%;
    margin: 0.25rem 0;
  }
}

.show-chat-text {
  margin: 0px;
  word-wrap: break-word;
  border-radius: 20px;
  padding: 0.5rem 0.75rem;
}

.show-chat-user-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.hide-user-photo {
  visibility: hidden;
}

.show-chat-text.sender {
  background-color: #dee2e6;
  color: black;
  margin-left: 4px;
}

.show-chat-text.recipient {
  background-color: var(--primary-color);
  color: #fff;
}
