.chat-message {
  margin: 0.25rem 0rem;
  max-width: 60%;
  display: flex;
}

.chat-message.sender {
  align-self: flex-start;
}

.chat-message.recipient {
  align-self: flex-end;
}

.chat-message-text {
  margin: 0px;
  word-wrap: break-word;
  border-radius: 20px;
  padding: 0.5rem 0.75rem;
  width: fit-content;
}

.chat-message-user-photo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.hide-user-photo {
  visibility: hidden;
}

.chat-message-text.sender {
  background-color: #dee2e6;
  color: black;
  margin-left: 4px;
}

.chat-message-text.recipient {
  background-color: var(--primary-color);
  color: #fff;
}

.chat-message-with-timestamp {
  display: flex;
  flex-direction: column;
}

.chat-message-timestamp {
  margin: 1px 0 0 10px;
  font-size: 11px;
  color: #a0a0a0;
  font-weight: bold;
}

.hide-timestamp {
  display: none;
}

.left {
  align-items: flex-start;
}

.right {
  align-items: flex-end;
}

@media screen and (max-width: 576px) {
  .chat-message {
    max-width: 70%;
    margin: 0.25rem 0;
  }
}
