.movie-thumb img {
  width: 100%;
  transition: all 0.3s;
  object-fit: cover;
  border-radius: 20px;
  animation: animateMovieThumb 0.5s;
}

.movie-thumb img:hover {
  opacity: 0.9;
}

.movie-thumb img .clickable {
  cursor: pointer;
}

@keyframes animateMovieThumb {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}