.review-item-content {
  padding: 0.5rem 0;
}

.review-item .review-item-content p {
  display: inline;
  word-wrap: break-word;
  overflow: hidden;
}

.review-item .review-item-content h5 {
  margin-bottom: 6px;
}

/* competing with movie thumb style */
.review-item-thumb img {
  border-radius: 10px !important;
  width: 125px !important;
  float: left;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

.review-item .review-item-thumb .movie-thumb {
  pointer-events: all;
  position: relative;
}
