/* ReviewItem */

.review-item {
  min-height: 200px;
  padding: 1rem 1.5rem;
  overflow: auto;
  border: 1px solid var(--border-color);
  margin: 10px 0px;
  border-radius: 5px;
  position: relative;
}

.review-item .overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.review-item:hover {
  background: rgb(0, 0, 0, 0.01);
}

@media screen and (max-width: 750px) {
  .review-item {
    margin: 0px;
    border-radius: 0px;
    border-bottom: 1px solid var(--border-color);
    border-top: 0;
  }
}

@media screen and (max-width: 400px) {
  .review-item {
    padding: 1rem;
  }
}

.review-item-link {
  color: #000;
  display: inline;
  text-decoration: none;
  margin-top: 2px;
}
.review-item-link span {
  margin-left: 8px;
  line-height: 0px;
  position: relative;
  top: -1.25px;
}

.review-item-link:hover {
  text-decoration: none;
}
.review-item-link:hover i,
.review-item-link:hover span {
  color: var(--primary-color);
}
