.search {
  border: 1px solid var(--border-color);
  margin: 10px 0px;
  border-radius: 5px;
}

@media screen and (max-width: 750px) {
  .search {
    margin: 0px;
    border-radius: 0px;
    border: 0;
  }
}