.show-chat {
  border: 0.5px solid gray;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin: 1px auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.show-chat-heading {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  z-index: 2;
}

.show-chat-heading-left {
  display: flex;
  align-items: center;
}

.show-chat-img {
  width: 50px;
  border-radius: 5px;
  position: relative;
  z-index: 0;
}

.show-chat-movietitle {
  font-size: 1.5rem;
}

.show-chat-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.show-chat-body {
  padding: 1rem;
  overflow: auto;
  margin-bottom: 3rem;
}

.show-chat-messages {
  display: flex;
  flex-direction: column;
}

.show-chat-form {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  background: #f4f4f4;
  padding: 0.5rem 0.75rem;
  width: 100%;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid var(--border-color);
}

.show-chat-text {
  margin: 0px;
  word-wrap: break-word;
  border-radius: 20px;
  padding: 0.5rem 0.75rem;
}

@media screen and (max-width: 750px) {
  .show-chat {
    width: 100%;
    margin: 1px;
    border-radius: 0px;
    border-bottom: 0;
  }

  .show-chat-form {
    border-radius: 0px;
    border-bottom: 1px solid var(--border-color);
  }
}

@media screen and (max-width: 576px) {
  .show-chat-body {
    padding: 1rem 10px;
  }
}